html, body{
    padding:0;
    margin:0;
}

.container{
    width:100%;
    height:100%;
}

.error { 
    color: red; 
}

h1.chart-title{
    margin:0;

}
h2.chart-desc{
    margin:0;
    font-size:110%;
    color:#444;

}

ul.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navbar-li {
    float: right;
    margin-right:10%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.dock{
    margin:10px;
    /*padding:10px;*/
}

.water-level-1{
    font-size:125%;
    font-weight:800;
    color:blue;
}

.water-level-0{
    font-size:125%;
    font-weight:800;
    color:red;
}

.login-container{
    width:100%;
    height:100%;
}

.login-inner{
    width:50%;
    margin: 0 auto;

    text-align: center;
    margin-top:10%;
}

.input-text{
    padding:10px 20px;
    font-size:125%;
}

.login-button{
    background-color: #3AC0CA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}